<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kangwang.video">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Video">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.android.cast.dlna.dmc.DLNACastService"/>
        <!--横竖屏切换会重新进行声明周期的执行-->
<!--        <activity android:name=".ui.activity.play.VideoPlayActivity"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:configChanges="keyboardHidden|screenSize|orientation"-->
<!--            android:theme="@style/Theme.Design.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"></action>-->
<!--                <category android:name="android.intent.category.DEFAULT"></category>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--                <data android:scheme="rtsp"></data>-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="video/*"/>-->
<!--                <data android:mimeType="application/sdp"/>-->

<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"></action>-->
<!--                <category android:name="android.intent.category.DEFAULT"></category>-->
<!--                <category android:name="android.intent.category.BROWSABLE"></category>-->
<!--                <data android:scheme="http"></data>-->
<!--                <data android:mimeType="video/mp4"></data>-->
<!--                <data android:mimeType="video/3gp"></data>-->
<!--                <data android:mimeType="video/3gpp"></data>-->
<!--                <data android:mimeType="video/3gpp2"></data>-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name=".ui.activity.PlayActivity"
            android:configChanges="orientation|screenSize">

        </activity>
    </application>

</manifest>